.header-logo svg {
    width: 140px;
}
.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.2rem;
    box-shadow: rgb(0, 0, 0, 0.15) 1px 1px 10px 10px;
}
.group-header .group-navigation {
    display: flex;
}
.group-navigation .btn-navigation {
    cursor: pointer;
    padding: 8px;
}