.wrapper-cart {
  text-align: center;
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  height: calc(100vh - 70px);
}

.group-cart {
  width: 75%;
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}
.header-cart {
  display: flex;
  padding: 1rem;
  background: #e2e2e2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1.5;
}
.col-3 {
  flex: 1;
}
.col-4 {
  flex: 0.5;
}
.body-cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
.row-cart{
    display: flex;
    align-items: center;
}
.btn-main {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    padding: 0.5rem 0rem;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    margin: 0 auto;
}