<main class="main">
  <header-layout />
  <div class="wrapper-cart">
    <h1>Shopping Cart</h1>

    <div class="group-cart">
      <div class="header-cart">
        <div class="col-1">Image</div>
        <div class="col-2">Name</div>
        <div class="col-3">Price</div>
        <div class="col-4">Action</div>
      </div>
      <div class="body-cart">
        <div class="row-cart">
          <div class="col-1">
            <img
              width="100px"
              height="auto"
              src="https://img.lovepik.com/free-png/20210918/lovepik-travel-shoes-casual-shoes-scene-map-png-image_400271085_wh1200.png"
              alt="Con Vớt"
            />
          </div>
          <div class="col-2">Con Vớt</div>
          <div class="col-3">129k</div>
          <div class="col-4">
            <div class="btn-main">
              <img
                width="30px"
                height="auto"
                src="../assets/images/shopping.jpeg"
                alt="Mua"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>{{ title.name }}</div>
  <div>{{ title.age }}</div>

  <button [disabled]="isDisabled">Disabled</button>

  <img
    src="../assets/images/shopping.jpeg"
    width="50px"
    alt="logo {{ contentImg }}"
  /> -->

  <!-- <h1>Click is an event</h1>
  <button (click)="handleClick()">{{ nameBtn }}</button>
  <div>Message: {{ ClickMessage }}</div>

  <input type="text" [(ngModel)]="bindingMessage"/>
  <div>Binding: {{ bindingMessage }}</div> -->
</main>

<router-outlet />
